

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load overview_correction_tags %}
{% block title %} {{ post.name }} share {% endblock %}


{% block content %}

    <div class="container h-100 p-5 border rounded-3">
        <h1 class="lead"><small>share</small> "{{ post.name }}" <sub>by e-mail</sub></h1>
        {% if sent %}
            <div class="alert-primary h-100 p-5 border rounded-3 mt-3">
                <h2 class="card-title">E-mail successfully sent</h2>
                <p>"{{ post.name }}" was successfully sent to {{ form.cleaned_data.to }}.</p>
                <a class="m_btn" href="{{ post.get_absolute_url }}">to return</a>
            </div>

        {% else %}
        <form class="m-4" action="{% url 'overview_correction:gh_share' post.id %}" method="POST">

            {% csrf_token %}
            {{ form|crispy }}
            <ul class="list-group list-group-flush mt-4 float-start">
                <li class="list-group-item">
                    <button class="m_btn" type="submit">submit</button>
                </li>
            </ul>
        </form>
        {% endif %}

    </div>

{% endblock content %}