

{% extends 'agent/common_agent.html' %}

{% block common_agent %}

    <div class="jumbotron container">
        <!-- agent_create_appointment.html -->
        <div class="col-sm">
            <div class="row">
                <div class="account_photo col-sm">
                    <img class="account_img" src="{{ user.imgprofile.image.url }}" />
                </div>
                <div class="col-sm">
                    <h3 class="">Create Appointment...</h3>
                </div>

                <div>
                    <form method="GET" action="">
                        <div class="form-group">
                            <input class="form-control" type="text" name="q" placeholder="Search Date" placeholder="Search With Name" aria-label="Search">
                        </div>
                        <button class= "btn btn-outline-primary btn-sm" type="submit" value="Search">Search</button>
                    </form>
                </div>

                <form class="jumbotron" method="POST" action="">{% csrf_token %}
                    <div class="row" id="datepairExample">
                        <div class="col">
                            <input type="text" class="form-control date start" name="{{form.date.name}}" required id="id_{{form.date.name}}" placeholder="Date Ex. 30.10.12 ">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control time start" name="{{form.time_start.name}}" required id="id_{{form.time_start.name}}" required placeholder="Time Ex. 01.00 PM">
                        </div> to
                        <div class="col">
                            <input type="text" class="form-control time end" name="{{form.time_end.name}}" required id="id_{{form.time_end.name}}" required placeholder="Time Ex. 01.30 PM ">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="{{form.room_number.name}}" required id="id_{{form.room_number.name}}" required placeholder="Room Number">
                        </div>
                        <div class="col">
                            <button type="submit" class= "btn btn-outline-primary btn-sm">Add</button>
                        </div>
                    </div>
                </form>

                <table  class="jumbotron table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Room Number</th>
                        </tr>
                    </thead>
                    {% for appoint in query %}

                        {% if appoint.appointment_with != '' %}
                            <tbody>
                                <tr>
                                    <td>{{appoint.date}}</td>
                                    <td>{{appoint.time_start}} - {{appoint.time_end}}</td>
                                    <td>{{appoint.room_number}}</td>
                                    <td>
                                    <button class= "btn btn-outline-primary btn-sm" title="Already booked, Not editable" type="button">Booked By: {{appoint.appointment_with}}
                                    </button>
                                    </td>
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}

                        {% if appoint.appointment_with == '' %}
                            <tbody>
                                <tr>
                                    <td>{{appoint.date}}</td>
                                    <td>{{appoint.time_start}} - {{appoint.time_end}}</td>
                                    <td>{{appoint.room_number}}</td>
                                    <td>
                                    <a href='{% url "appointment_delete" indicator=appoint.id %}'>
                                    <button class="btn btn-outline-danger" type="submit">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    </a>
                                    <a href='{% url "agent_update" indicator=appoint.id %}'>
                                    <button class="btn btn-outline-danger" type="submit">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    </a>
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock common_agent %}