

{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} event | {{ post.title }} {% endblock title %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="icon" href="/static/favicon.ico">

    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!-- event/home.html -->
    {% include 'partials/navbar.html' %}

    <div class="container flex_container">
        {% block content %}
        {% endblock content %}
    </div>


    {% include 'footer.html' %}
    <div id="messages">
        {% block messages %}
            {% include 'messages.html' %}
        {% endblock %}
    </div>
    {% include 'script.html' %}

    <script>
        $(document).ready(function(event) {
            "use strict";
            $('.reply-btn').click(function() {
                $(this).parent().parent().next('.replied-comments').fadeToggle();
            });
        });
    </script>
</body>

</html>