

{% extends "event.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="lead my-5">login</h1>
    <div class="form_event h-100 p-5 border rounded-3 my-5">
        <form class="list-group list-group-flush m_form" method="POST">
            {% csrf_token %}
            <div class="list-group-item">
                {{ form|crispy }}
            </div>
            <div class="list-group-item">
                <button class="m_btn" type="submit">Login</button>
            </div>
            <div class="list-group-item">
                <a class="m_btn" href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
        </form>
        <div class="list-group my-4">
            <span class="list-group-item">
                <small>Need An Account?</small>
            </span>
            <span class="list-group-item">
                <a class="m_btn" href="{% url 'register' %}">Sign Up Now</a>
            </span>
        </div>
    </div>

{% endblock content %}