

{% extends "event.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="m-4">
        <form class="form-group" method="POST">
            {% csrf_token %}
            <fieldset class="list-group">
                <legend class="list-group-item">reset password</legend>
                <div class="list-group-item">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="list-group">
                <button class= "btn btn-outline-primary btn-sm" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}