

{% load static %}

	<header class="header container">
	    <div class="list-group">
	        <h2 class="list-group-item">
	            <span class="lead">topbar_base_rest welcome to the booking pages</span>
	        </h2>
	        <h3 class="list-group-item">
	            <span class="ice">online RestComplex booking portal</span>
	        </h3>
	        <span class="list-group-item">
	        	<a class="btn btn-primary" href="{% url 'index' %}" role="button">
		        	book now: book a day and an hour
		        </a>
	    	</span>
	    </div>
	</header>



