

{% load static %}

	<header class="container">
        <h2 class="my-5">
            welcome to the booking pages online guest house booking portal
        </h2>
        <h3 class="bg_tape">
            <span class="lead p-2 bg-light">welcome to the booking pages</span>
            <sub class="lead p-2 bg-light">online guest house booking portal</sub>
        </h3>
        <h4 class="m-5">
            welcome to the booking pages online
            <span class="blockquote d-block">guest house booking portal</span>
        </h4>
        <h5>
            <span class="dd">welcome to the booking pages online guest house booking portal</span>
        </h5>
        <a class="m_btn mt-4" href="{% url 'index' %}" role="button">book now: book a day and an hour</a>
	</header>



