

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6,*{
    font-weight: lighter;
}

html,
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #252526;
}
*,
*::before,
*::after{
    box-shadow: none;
    text-shadow: none;
    background-repeat: no-repeat;
}
ul,ol,li,a{
    font-weight: lighter;
    text-decoration: none;
    list-style: none;
}
main{
    display: block;
}
h1{
    margin: .67rem 0;
    font-size: 2rem;
}
hr{
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
pre{
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
a{
    background-color: transparent;
}
abbr[title]{
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
    border-bottom: none; /* 1 */
}
b,
strong{
    font-weight: bolder;
}
code,
kbd,
samp{
    font-family: monospace, monospace; /* 1 */
    font-size: 1rem; /* 2 */
}
small{
    font-size: 80%;
}
sub,
sup{
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub{
    bottom: -.25em;
}

sup{
    top: -.5em;
}
img{
    border-style: none;
}
button,
input,
optgroup,
select,
textarea{
    margin: 0; /* 2 */
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
}
button,
input{
    /* 1 */
    overflow: visible;
}
button,
select{
    /* 1 */
    text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit']{
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner{
    padding: 0;
    border-style: none;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring{
    outline: 1px dotted ButtonText;
}

fieldset{
    padding: .35em .75em .625em;
}
legend{
    box-sizing: border-box; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    display: table; /* 1 */
    color: inherit; /* 2 */
    white-space: normal; /* 1 */
}
progress{
    vertical-align: baseline;
}
textarea{
    overflow: auto;
}
[type='checkbox'],
[type='radio']{
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button{
    height: auto;
}
[type='search']{
    outline-offset: -2px; /* 2 */

    -webkit-appearance: textfield; /* 1 */
}
[type='search']::-webkit-search-decoration{
    -webkit-appearance: none;
}
::-webkit-file-upload-button{
    font: inherit; /* 2 */

    -webkit-appearance: button; /* 1 */
}
details{
    display: block;
}
summary{
    display: list-item;
}
template{
    display: none;
}
[hidden]{
    display: none;
}


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sr-only.focusable:active,
.sr-only.focusable:focus{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

