


body{
    background-color: #F7F8FB;
}
.minimum_height{
    min-height: 55vh;
}
.toast{
    width: auto;
}
.user_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.user_list_item{
    width: 25em;
}
.user_list_paginated{
    width: 100%;
}
.sidebar{
    min-width: 20em;
}


.navbar{
    background-color: #5786B3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

.navbar-light .navbar-brand{
    color: #B9D2EA;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #B9D2EA;
}


.dropdown-item.active, .dropdown-item:active{
    background-color: #70ADE6;
}

.btn-outline-primary {
    color: #70ADE6;
    border-color: #70ADE6;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #70ADE6;
    border-color: #70ADE6;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #70ADE6;
    border-color: #70ADE6;
}

footer > *,
footer .page-link{
    color: #B9D2EA;
    background-color: #5786B3;
}
.available li{
    height: 4em;
    background-color: rgba(0,0,0,0);
}
.table_info{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
a.liker:hover{
    color: #fff;
}
.navbar{
    text-transform: lowercase;
}
ul{list-style: none;}
.hide {display:none!important }
.modal_content{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    outline: 0;
    background-clip: padding-box;
}
.modal_body{
    position: relative;
    flex: 1 1 auto;
}
.modal-open .modal{
    background-color: #e9ecef;
}
.container_item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.car_item{
    width: 50%;
    height: 50%;
    overflow: hidden;
}
.car_item img{
    height: 40vh;
}


.flex_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.flex_center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.pagination.thumbnail{
    margin: 1.25rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.master_list{
    height: 100%;
    margin: 1rem 0 0 0;

    -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
}
.m_list{
    width: calc(100% - 6rem - 1%);
}
.post_list{
    height: 66vh;
}
.fifty{
    margin: 1rem 0 0 1%;
    flex: 0 1 48%;
}
.nth_child .col-sm:nth-child(1){
    width: 50%;
}
.nth_child .col-sm:nth-child(2){
    width: 50%;
}
.photo_datall{
    width: 44vw;
}
.booking_photo{
    width: 4em;
    height: 4em;
    margin: auto 0;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}
.booking_img{
    width: auto;
    height: 4em;
}

.account_photo_master{
    width: 100%;
    height: auto;
}
.account_img_master{
    width: auto;
    height: 33vh;
}
.account_photo{
    width: 6em;
    height: 6em;
    margin: 0 0 2em 0;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}
.account_img,
.pagination.thumbnail img{
    width: auto;
    height: 6em;
}


.td.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.img_logo{
    width: 3em;
    height: 3em;
    border: thin solid #dee2e6;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}
.td img{
    width: auto;
    height: 3em;
}
.availability_table th,
.availability_table td{
    width: 100%;
    height: 4em;
}
.availability_table tr{
    display: flex;
    flex-direction: column;
}
.availability_table tbody{
    display: flex;
}
.availability_table.table{
    width: 50%;
}

/*  */
    .header_available{
        min-height: 44vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    .gh_slider_available{}
    .availability_rooms figure .gh_img{
        width: auto;
        height: 14em;
    }
    .availability_rooms figure .rooms_img{
        width: auto;
        height: 16em;
    }


.room_details tbody{
    display: block;
}
.room_details.table.book{
    width: calc(100% - 4rem);
}
.room_details.table.book tr{
    display: flex;
}
.room_details.table.book tr th,
.room_details.table.book tr td{
    flex: 1 1 auto;
}


.room_details.table.all_default{
    width: calc(50% - 4rem);
}
.room_details.table.all_default tr{
    display: flex;
}
.room_details.table.all_default tr th,
.room_details.table.all_default tr td{
    flex: 1 1 auto;
}

.card_body_f{
    padding: 0 1.25rem 1rem 1.25rem;
}
.gallery_item{
    width: 20em;
}
.gallery_item .card-text{
    height: 4.4rem;
}
.gallery_filter{
    overflow: hidden;
    position: relative;
}
.gallery_filter_img{
    width: auto;
    height: 12.5rem;
}

footer.footer.container a{
    color: #4BB2D6;
}


@media (max-width: 900px){
    .fifty{
        flex: 0 1 96%;
    }
}


.offers_for{
    text-align: center;
}
.offers_for_detail{
    text-align: left;
}

.offers_for ion-icon{
    margin: 1em;
}
.offers_for_detail ion-icon{
    margin: .4em 1em 0 1em;
}
.offers_for ion-icon,
.offers_for_detail ion-icon{
    color: #878A8C;
    font-size: 48px;
}
.navbar-nav .tog{
    opacity: .6;
}


.event{
    min-height: 66vh;
}
.btn.search-outline{
    color: #5a5a5a;
}
.tours{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.gh_photo{
    width: 80%;
    height: auto;
}


#load{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: #fff;
    z-index: 999;
}
#load div{
    width: 96px;
    height: 96px;
    top: calc(50% - 48px);
    left: calc(50% - 48px);
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}


div#myList{
    height: 66vh;
}
.card.mb-4.shadow-sm{
    animation: c_f 2s;
}
@keyframes c_f {
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.ice{
    font-size: 1rem;
}
img{
  opacity: 1;
}
img[data-src]{
  opacity: 1;
}

ion-icon{
  --ionicon-stroke-width: 16px;
}


/*  */
     .i_like.like-btn.fas{
        cursor: pointer;
        background-image: url(../like/fas.svg);
     }
     .i_like.like-btn.far{
        cursor: pointer;
        background-image: url(../like/far.svg);
     }
     .i_like.dislike-btn.fas{
        cursor: pointer;
        background-image: url(../like/dislike_fas.svg);
     }
     .i_like.dislike-btn.far{
        cursor: pointer;
        background-image: url(../like/dislike_far.svg);
     }

     .i_like.like-btn{
        background-image: url(../like/far.svg);
     }
     .i_like.dislike-btn{
        background-image: url(../like/dislike_far.svg);
     }

     .i_like{
        width: 2em;
        height: 2em;
        display: block;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
     }
    .like_svg{
        width: 2em;
    }