

    <div class="cn_wrapper slider-pro example5">
        <div class="sp-slides">
            <div class="sp-slide">
                <img class="sp-image" src="{{ r_st.image.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ r_st.disc }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ r_st.image_2.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ r_st.disc_2 }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ r_st.image_3.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ r_st.disc_3 }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ r_st.image_4.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ r_st.disc_4 }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ r_st.image_5.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ r_st.disc_5 }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ r_st.image_6.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ r_st.disc_6 }}</h4>
            </div>
        </div>

        <div class="sp-thumbnails">
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ r_st.image.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title ice">{{ r_st.hede }}</h4>
                    <p class="sp-thumbnail-description">{{ r_st.expe }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ r_st.image_2.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ r_st.hede_2 }}</h4>
                    <p class="sp-thumbnail-description">{{ r_st.expe_2 }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ r_st.image_3.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ r_st.hede_3 }}</h4>
                    <p class="sp-thumbnail-description">{{ r_st.expe_3 }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ r_st.image_4.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ r_st.hede_4 }}</h4>
                    <p class="sp-thumbnail-description">{{ r_st.expe_4 }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ r_st.image_5.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ r_st.hede_5 }}</h4>
                    <p class="sp-thumbnail-description">{{ r_st.expe_5 }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ r_st.image_6.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ r_st.hede_6 }}</h4>
                    <p class="sp-thumbnail-description">{{ r_st.expe_6 }}</p>
                </div>
            </div>
        </div>
    </div>