

    <div class="cn_wrapper slider-pro example5">
        <div class="sp-slides">
            <div class="sp-slide">
                <img class="sp-image" src="{{ room.gh_all.image.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ room.gh_all.disc }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ room.gh_all.image_2.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ room.gh_all.disc_2 }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ room.gh_all.image_3.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ room.gh_all.disc_3 }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ room.gh_all.image_4.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ room.gh_all.disc_4 }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ room.gh_all.image_5.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ room.gh_all.disc_6 }}</h4>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="{{ room.gh_all.image_6.url }}" alt="" title="" />
                <h4 class="sp-caption">{{ room.gh_all.disc_6 }}</h4>
            </div>
        </div>

        <div class="sp-thumbnails">
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ room.gh_all.image.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ room.gh_all.hede }}</h4>
                    <p class="sp-thumbnail-description">{{ room.gh_all.expe }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ room.gh_all.image_2.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ room.gh_all.hede_2 }}</h4>
                    <p class="sp-thumbnail-description">{{ room.gh_all.expe_2 }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ room.gh_all.image_3.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ room.gh_all.hede_3 }}</h4>
                    <p class="sp-thumbnail-description">{{ room.gh_all.expe_3 }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ room.gh_all.image_4.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ room.gh_all.hede_4 }}</h4>
                    <p class="sp-thumbnail-description">{{ room.gh_all.expe_4 }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ room.gh_all.image_5.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ room.gh_all.hede_5 }}</h4>
                    <p class="sp-thumbnail-description">{{ room.gh_all.expe_5 }}</p>
                </div>
            </div>
            <div class="sp-thumbnail">
                <div class="sp-thumbnail-image-container">
                    <img class="sp-thumbnail-image" src="{{ room.gh_all.image_6.url }}" alt="" title="" />
                </div>
                <div class="sp-thumbnail-text">
                    <h4 class="sp-thumbnail-title">{{ room.gh_all.hede_6 }}</h4>
                    <p class="sp-thumbnail-description">{{ room.gh_all.expe_6 }}</p>
                </div>
            </div>
        </div>
    </div>