
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} booking by day and hour {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="icon" href="/static/favicon.ico">

    {% include 'bootstrap.html' %}
    {% block rotator_css %} {% endblock %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <link rel="stylesheet" href="{% static 'css/label_input_button.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

</head>

<body>
<!-- restcomplex/base.html -->

{% include 'load.html' %}
{% include 'partials/navbar.html' %}
{% include 'partials/topbar_rest.html' %}

{% block content %} {% endblock %}

    <div class="container flex_center text-center">
        <ul class="pagination custom-pagination"></ul>
        <input type="hidden" id="itemCount" value="">
        <input type="hidden" id="pageLimit" value="10">
    </div>

{% include 'footer.html' %}
{% include 'script.html' %}

<div id="messages">
    {% block messages %}
        {% include 'messages.html' %}
    {% endblock %}
</div>

{% block datetimepicker %} {% endblock %}
{% block rotator %} {% endblock %}


</body>
</html>