

    <div class="js-slider isystkSlider" data-shift="1">
        <div class="view-layer">
            <ul class="parent">
                <li class="child">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
                <li class="child">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image_2.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
                <li class="child">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image_3.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
                <li class="child">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image_4.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
                <li class="child">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image_5.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
            </ul>
        </div>

        <div>
            <ul class="paging">
                <li class="active" data-pageno="1">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
                <li data-pageno="2">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image_2.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
                <li data-pageno="3">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image_3.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
                <li data-pageno="4">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image_4.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
                <li data-pageno="5">
                    <p>
                        <img class="lazyload" src="{{ room.gh_all.image_5.url }}" alt="{{ room.gh_all.name }}" title="{{ room.gh_all.name }}" />
                    </p>
                </li>
            </ul>
        </div>
    </div>